<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--MapperScannerConfigurer 这个组件直接通过basePackage属性，来完成扫描所对应的接口-->
        <property name="basePackage" value="com.bdqn.ssm.dao"/>
    </bean>

</beans>